tqdm
typeguard ; python_version 
visualdl>=2.1.0 ; python_version 
opencv-python
PyYAML
shapely
scipy
terminaltables
Cython
pycocotools
#xtcocotools==1.6 #only for crowdpose
setuptools>=42.0.0
lap
sklearn
motmetrics
openpyxl
cython_bbox
paddlepaddle-gpu
